<a class="h-icon-close" href="#"></a>

<div class="bs-player">
  <object id="myExperience<%= new Date().getTime() %>" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="100%" />
    <param name="height" value="100%" />
    <param name="playerID" value="<%= player_id %>" />
    <param name="playerKey" value="<%= player_key %>" />
    <param name="isVid" value="true" />
    <param name="isUI" value="true" />
    <param name="autoStart" value="true" />
    <param name="wmode" value="transparent" />
    <param name="mode" value="vodplaylist" />
    <param name="dynamicStreaming" value="true" />
    <param name="@videoPlayer" value="<%= videos[0].id %>" />
  </object>
</div>

<div class="bs-carousel">
  <div class="bs-tab">
    <div class="h-content">
      <a href="#"><%= title %></a>
    </div>
  </div>

  <div class="carousel">
    <div class="body">
      <div class="h-content">
        <div class="next-prev">
          <a class="prev"></a>
          <a class="next"></a>
        </div>

        <div class="carousel-hook">
          <ul style="width: <%= (videos.length / 4.5) * 100 %>%;">
            <% _.each(videos, function(video) { %>
              <li style="width: <%= (100 / videos.length) %>%;" data-video-id="<%= video.id %>">
                <div class="item">
                  <div class="tooltip">
                    <div class="details">
                      <p class="title"><%= video.title %></p>
                      <p class="desc"><%= video.desc %></p>
                    </div>
                  </div>
                  <a class="thumb" href="#">
                    <img src="<%= video.thumb || "" %>" alt="">
                  </a>
                  <div class="details">
                    <a class="title" href="#"><%= video.title %></a>
                    <p class="date"><span><%= video.duration %></span><%= video.created %></p>
                  </div>
                  <p class="footer">
                    <a href="#" class="h-icon h-icon-play"></a>
                    <% if(video.show.length) { %>
                      <a href="<%= video.showUrl %>" class="show"><%= video.show %></a>
                    <% } %>
                  </p>
                </div>
              </li>
            <% }); %>
          </ul>
        </div>
      </div>
    </div>

    <footer>
      <ul></ul>
    </footer>
  </div>
</div>
