<a href="#" class="h-icon-close" title="<%= localization.close_text %>"><%= localization.close_text %></a>

<h1><%= localization.playlist_edit_dialog_title %></h1>
<h2><%= localization.playlist_edit_dialog_subtitle %></h2>

<ul>
  <% _.each(playlists, function(playlist) { %>
    <li data-id="<%= playlist.id %>" data-title="<%= playlist.name %>">
      <a href="#" class="remove h-icon-cross"></a>
      <a href="#" class="name"><%= playlist.name %></a>

      <div class="unsubscribe h-fade-in">
        <menu>
          <a href="#" class="continue"><%= localization.remove_text %></a>
          <a href="#" class="cancel"><%= localization.cancel %></a>
        </menu>
        <p><%= localization.playlist_remove_confirm.replace('{0}', playlist.name) %></p>
      </div>

      <form class="h-fade-in">
        <input type="text" value="<%= playlist.name %>">
      </form>
    </li>
  <% }); %>

  <li class="empty<% if(playlists.length > 0) { %> h-hidden<% } %>">
    <%= localization.playlist_none_text %>
  </li>
</ul>
