<section class="carousel is-<%= dir %>" dir="<%= dir %>" data-playlist-id="<%= id %>" data-id="<%= id %>">
  <header class="heading">
    <div class="h-content">
      <div class="links">
        <nav>
          <a href="#" class="h-icon h-icon-playlist-delete do-playlist-delete" title="Remove <%= name %>"><%= localization.remove_text %></a>
        </nav>
      </div>

      <p class="title"><%= name %></p>
    </div>
  </header>

  <div class="body empty h-content">
    <p><%= localization.playlist_empty_text %></p>
  </div>

  <footer>
    <ul></ul>
  </footer>
</section>
