.ui-tabs-nav {
  li {
    float: left;

    .is-rtl & {
      float: right;
    }
  }

  a {
    display: block;
    padding: 12px 20px;
    background: #2d2c2a;
    color:  $grey-d;
    outline: none;
  }
}

.ui-tabs-active {
  a {
    background: #404040;
  }
}

.ui-tabs-panel {
  background: #404040;
}
