
.ToggleControl {
	position: fixed;
	margin-top: 128px;
	margin-left: -70px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	-ms-transform: rotate(270deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	width: 187px;
	vertical-align: top;
	height: 25px;
	z-index: 9999999;
}

.BetaWord {
	font-weight: bold;
	color: #C4C4C4;
	width: 50px;
	float: left;
	font-size: 20px;
	margin: 2px;
}


.ToggleButton {
	color: #fff;
	text-decoration: none;
	background-color: grey;
	float: right;
	line-height: 3px;
}

.ToggleButton:hover{
	background-color:#A8A8A8;
	}
	
.ToggleButton a{
	display:block;
	padding:10px;
	color:#fff;
	text-decoration:none;
	
	}