.ui-tooltip {
  padding: 20px;
  position: absolute;
  z-index: $tooltip-zindex;
  max-width: 300px;
  background: #9f9f9f;

  .arrow {
    $width: 52px;
    $height: 27px;
    @include position(absolute, 0 0 (($height - 1) * -1) 50%);
    width: $width;
    height: $height;
    margin-left: -($width / 2);
  }

  .details {
    .title {
      font-size: 14px;
	  font-weight:bold;
      margin-top: 0;
      color: #FFF;
    }

    .desc {
      color: #FFF;
      font-size: 14px;
      line-height: 1.4;
      margin-bottom: 0;
    }
  }
}

// styling on panel nav items

.tooltip-panel {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #fff;
  padding: 8px 10px;
}

// styling on search overlay

.tooltip-search-overlay {
  z-index: 9999;
}

.tooltip-big-screen {
  z-index: 1001;
}

// Title tooltips (subscribe links)

.tooltip-title {
  @include heading-font;
  padding: 10px;
  color: #FFF;
  z-index: $tooltip-title-zindex;

  .arrow {
    $width: 22px;
    $height: 11px;
    @include position(absolute, 0 0 (($height - 1) * -1) 50%);
    width: $width;
    height: $height;
    margin-left: -($width / 2);
  }
}
