<a href="#" class="h-icon-close">Close</a>

<% if(limitReached) { %>
  <p class="max"><%= subscriptions_max_subscriptions %></p>
<% } else if(!data.subscriptions.length) { %>
  <h1><%= subscriptions_edit_title %></h1>
  <h2><%= subscriptions_none %></h2>
<% } else { %>
  <h1><%= subscriptions_edit_title %></h1>
  <h2><%= subscriptions_edit_subtitle %></h2>
<% } %>

<ul>
  <% _.each(data.subscriptions, function(subscription) { %>
    <li data-id="<%= subscription.id %>" data-title="<%= subscription.name %>">
      <a href="#" class="remove h-icon-cross"></a>
      <a href="#"><%= subscription.name %></a>

      <div class="unsubscribe h-fade-in">
        <menu>
          <a href="#" class="continue"><%= subscriptions_unsubscribe %></a>
          <a href="#" class="cancel"><%= cancel %></a>
        </menu>
        <p><%= subscriptions_unsubscribe_confirm.replace('{name}', subscription.name) %></p>
      </div>
    </li>
  <% }); %>
</ul>
