<% if(error) { %>
  <div class="error">
    <i class="h-icon h-icon-caution"></i>
    <p><%= localization.epg_fetch_error %></p>
  </div>
<% } else { %>
<header class="headers">
  <div class="h-content">
    <section>
      <div class="th col"></div>
      <% _.each(days, function(day) { %>
        <div class="th col"><%= day.date %></div>
      <% }); %>
    </section>
  </div>
</header>

<div class="h-content">
  <table cellpadding="0">
    <tbody>
      <tr>
        <td class="col">
          <% _.each(times, function(time) { %>
          <div class="cell" data-mins="60">
            <span class="tick"></span>
            <span class="tick"></span>
            <span class="tick"></span>
            <span class="tick"></span>
            <span class="tick"></span>
            <p><span><%= time.time %></span></p>
          </div>
          <% }); %>
        </td>

        <% _.each(days, function(day) { %>
        <td class="col">
          <% _.each(day.shows, function(show) { %>
          <div class="cell"
            dir="<%= dir %>"
            data-mins="<%= show.mins %>"
            data-video-id="<%= Math.floor(Math.random() * (10000 - 1 + 1) + 1) %>"
            data-duration="06:24"
            data-date="<%= show.dateString %>"
            data-slot="<%= show.slot %>"
            data-thumbnail="<%= show.thumbnail %>"
            data-description="<%= show.description %>">
            <div class="body">
              <p class="title"><%= show.title %></p>
              <p class="show"><a href="<%= show.showUrl %>"><%= show.show %></a></p>
            </div>
          </div>
          <% }); %>
        </td>
        <% }); %>
      </tr>
    </tbody>
  </table>
</div>
<% } %>
