<a href="<%= url %>" class="details">
  <p class="title"><%= title %></p>
  <p class="desc"><%= description %></p>
</a>

<ul class="h-clearfix">
  <% _.each(shows, function(show, index) { %>
  <li class="is-nth-child-<%= index + 1 %>">
      <div class="tooltip">
        <div class="details">
          <p class="title"><%= show.title %></p>
          <p class="desc"><%= show.description %></p>
        </div>
      </div>
      <a href="<%= show.url %>" class="thumb">
        <img src="<%= show.thumbnail %>" alt="<%= show.title %>">
      </a>
    </li>
  <% }); %>
</ul>
