/*
 * Tiles that drop in with an animation. To make this work:
 * 
 * 1. Give some ancestor the class h-drop-in.
 * 2. Give each item you want to drop in the h-drop-in-item class.
 * 3. When you want to run the animation, apply the class h-drop-in-run
 *    to each item.
 */
.h-drop-in {
  .csstransforms3d & .h-drop-in-item {
    @include transform(translateY(-100px));
    @include transition(all 0.2s ease-in-out);
    opacity: 0;

    // Apply this class via JS to kick off the animation
    &.h-drop-in-run {
      @include transform(translateY(0px));
      opacity: 0.9;
    }

	&:hover .h-drop-in-item {
      display: none;
      opacity: 1;
    }
  }
}
