/*
 * This file defines all the styles to leverage the sprite.
 */

[class^="h-icon"],
[class*="h-icon"] {
  display: inline-block;

  &:after {
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    content: " ";

    .is-rtl & {
      float: right;
      margin-left: 7px;
    }
    .is-ltr & {
      float: left;
      margin-right: 7px;
    }
  }

}

 a.h-icon {
  	color:#939393;

	&:hover {
		color:$white-a-dp;
	}
}

/*
 * Generated content icons
 * These icons are typically next to text
 */

.h-icon-play-orange {
  @include sprite(-24px -2px);
  width: 20px;
  height: 20px;
}

.h-icon-grid {
  @include sprite(
    $default-pos: -563px -475px,
    $hover-pos: -563px -492px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 20px;
    height: 14px;
  }
}

.h-icon-plus {
  @include sprite(
    $default-pos: -179px -574px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 11px;
    height: 11px;
  }
}

.h-icon-grid-white {
  @extend .h-icon-grid;
  @include sprite(
    $default-pos: -563px -475px,
    $hover-pos: -563px -509px,
    $positions-only: true,
    $generated: true
  );
}

.h-icon-search-sm {
  @include sprite(
    $default-pos: -566px -537px,
    $hover-pos: -566px -562px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 17px;
    height: 17px;
  }
}

.h-icon-search-med {
  @include sprite(
    $default-pos: -1px -143px,
    $hover-pos: -1px -143px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 21px;
    height: 20px;
  }
}

.h-icon-subscribe {
  @include sprite(
    $default-pos: -524px -541px,
    $hover-pos: -496px -541px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 24px;
    height: 19px;
    position: relative;
    top: -3px;
  }
}

.h-icon-subscribe-white {
  @extend .h-icon-subscribe;

  @include sprite(
    $default-pos: -524px -541px,
    $hover-pos: -467px -541px,
    $positions-only: true,
    $generated: true
  );
}

.h-icon-bigscreen {
  @include sprite(
    $default-pos: -529px -570px,
    $hover-pos: -509px -570px,
    $positions-only: true,
    $generated: true
  );

  &:after {
    width: 19px;
    height: 15px;
  }
}

.h-icon-timeline {
  @include sprite(
    $default-pos: -401px -560px,
    $hover-pos: -372px -560px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 28px;
    height: 25px;
  }
}

.h-icon-timeline-orange {
  @include sprite(
    $default-pos: -430px -560px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 28px;
    height: 25px;
  }
}
.h-icon-playlist-add {
  @include sprite(
    $default-pos: -338px -554px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 31px;
    height: 31px;
  }
}

.h-icon-playlist-remove {
  @include sprite(
    $default-pos: -504px -113px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 21px;
    height: 21px;
  }
}

.h-icon-playlist-delete {
  @include sprite(
    $default-pos: -480px -195px,
    $hover-pos: -480px -179px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 14px;
    height: 14px;
  }
}

.h-icon-caution {
  @include sprite(
    $default-pos: -240px -523px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    width: 73px;
    height: 62px;
  }
}

// sharing

.h-icon-twitter,
.h-icon-facebook,
.h-icon-linkedin,
.h-icon-google {
  &:after {
    width: 22px;
    height: 22px;
    position: relative;
    top: -2px;
  }
}

.h-icon-twitter {
  @include sprite(
    $default-pos: 0 -294px,
    $hover-pos: 0 -318px,
    $generated: true,
    $positions-only: true
  );
}

.h-icon-facebook {
  @include sprite(
    $default-pos: -1px -245px,
    $hover-pos: -1px -270px,
    $generated: true,
    $positions-only: true
  );
}

.h-icon-linkedin {
  @include sprite(
    $default-pos: 0 -343px,
    $hover-pos: 0 -368px,
    $generated: true,
    $positions-only: true
  );
}

.h-icon-google {
  @include sprite(
    $default-pos: 0 -392px,
    $hover-pos: 0 -415px,
    $generated: true,
    $positions-only: true
  );
}

// help

.h-icon-help {
  @include sprite(
    $default-pos: -215px -563px,
    $generated: true,
    $positions-only: true
  );

  &:after {
	margin-left:5px;
    height: 23px;
  }
}

.h-icon-help-dark {
  @include sprite(
    $default-pos: -193px -563px,
    $generated: true,
    $positions-only: true
  );

  &:after {
    margin-left:5px;
    height: 23px;
  }
}



/*
 * Non-generated content items
 */


.h-icon-play {
  @include sprite(-2px -2px);
  width: 20px;
  height: 20px;
}

.h-icon-play-lg {
  @include sprite(-527px -27px);
  width: 54px;
  height: 54px;
}

.h-icon-close {
  @include sprite(-535px -138px, -535px -188px);
  width: 37px;
  height: 37px;
}

.h-icon-close-sm {
  @include sprite(-503px -164px, -503px -138px);
  width: 24px;
  height: 24px;
}

.h-icon-cross {
  @include sprite(-500px -211px, -500px -194px);
  width: 14px;
  height: 14px;
}

.h-icon-arrow-right-sm {
  @include sprite(
    $default-pos: -219px -46px,
    $default-pos-rtl: -172px -46px, // left arrow value
    $hover-pos: 0,
    $disabled-pos: -219px 7px,
    $disabled-pos-rtl: -172px 7px // left arrow value
  );
}

.h-icon-arrow-left-sm {
  @include sprite(
    $default-pos: -172px -46px,
    $default-pos-rtl: -219px -46px, // left arrow value
    $hover-pos: 0,
    $disabled-pos: -172px 7px,
    $disabled-pos-rtl: -219px 7px // left arrow value
  );
}

// icons inside select boxes

.h-icon-selectarrow {
  @include sprite(7px -31px);

  width: 8px;
  height: 15px;
  border-left: 1px solid #d4d6d8;
  padding: 0 12px;

  .is-rtl & {
    border-left: 0;
    border-right: 1px solid #d4d6d8;
  }

  .active & {
    border-color: #686766;
    background-position: 7px -57px;
  }
}

.h-icon-schedule {
  @include sprite(-315px -559px);
  width: 22px;
  height: 25px;
}

// panel icons

.h-icon-panel-share {
  @include sprite(
    -174px -250px,
    -174px -310px
  );
}

.h-icon-panel-video {
  @include sprite(
    -81px -246px,
    -81px -306px
  );
}

.h-icon-panel-twitter {
  @include sprite(
    -533px -348px,
    -533px -394px
  );
}

.h-icon-panel-comments {
  @include sprite(
    -83px -490px,
    -32px -490px
  );
}

// tooltip

.h-icon-tooltip-arrow {
  @include sprite(-528px -317px);
}
.h-icon-tooltip-arrow-sm {
  @include sprite(-561px -302px);
}

// user icon, gigya sharing

.h-icon-user-sm {
  @include sprite(-427px -513px);
  width: 24px;
  height: 24px;
}
.h-icon-user-md {
  @include sprite(-452px -505px);
  width: 32px;
  height: 32px;
}
.h-icon-user-lg {
  @include sprite(-487px -474px);
  width: 63px;
  height: 63px;
}
