/* 
 * Fixed, sticky headers
 */
.h-sticky {
  @include transition(box-shadow 0.2s linear);

  &.h-sticky-on {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $sticky-element-zindex;
    width: 100%;
	background:black;
    &.h-sticky-stacks {
      box-shadow: 0 3px 3px -3px #444;
    }
  }
}
