// ---------------------------------------------------------------------------------------------  Digital Platform 
$grey-a-dp: #3a3a3a;
$grey-b-dp: #404040;
$grey-c-dp: #909090;
$grey-d-dp: #020202;
$grey-e-dp: #636363;
$grey-f-dp: #646464;
$orange-a-dp: #ec6c01;
$white-a-dp: #fff;
$transparent-dp: transparent;

// ---------------------------------------------------------------------------------------------  Colors
$grey-a: #251f15;
$grey-b: #717174;
$grey-c: #a3a3a3;
$grey-d: #dcdee0;
$grey-e: #e8e8e8;
$grey-f: #eeeeee;
$grey-g: #f4f4f4;
$grey-h: #888582;
$grey-i: #403e3c; 
$grey-j: #ced0d2;
$grey-k: $grey-i;
$grey-l: #312f2b; 
$grey-m: $grey-i; 
$grey-n: $grey-g; 
$grey-o: #3a3836;
$grey-p: $grey-i; 
$grey-q: $grey-i; 
$grey-r: $grey-l; 
$grey-s: $grey-i; 
$grey-t: adjust-color( $grey-d, $lightness: +25%, $saturation: -40%); 
$grey-u: #908f8e;
$grey-v: $grey-l; 
$grey-w:  $grey-a;

$orange-a: $orange-a-dp;
$orange-b: #99501b;
$orange-c: #b63c00;
$orange-e: $orange-a-dp;

// ---------------------------------------------------------------------------------------------  Generic color shortcuts
$text-color: $grey-c;
$link-color: $white-a-dp;
$link-hover-color: $grey-e-dp;
$input-focus-outline-color: #51A7E8;
$footer-background-color: #1a1a1a;
$footer-text-color: $grey-c;
$footer-link-color:  $grey-c;
$menu-region-background-color: $grey-f-dp;
$menu-region-background-color-hover: $grey-e-dp;

// ---------------------------------------------------------------------------------------------  Fonts
$body-font-family: "Helvetica Neue", sans-serif;
$body-font-family-arabic: "Gretta", $body-font-family;
$heading-font-family-arabic-bold: "AlJazeeraArabicBold", $body-font-family;
$heading-font-family-arabic-regular: "AlJazeeraArabicRegular", $body-font-family;

// ---------------------------------------------------------------------------------------------  Global structure
$page-width-max: 1280px;
$page-width-min: 992px;
$page-total-width: 1540px; // total width of centered content at the max browser width
$page-gutter: 19%;

// ---------------------------------------------------------------------------------------------  Header/nav
$header-background-color: $grey-a-dp;
$header-border-color: $grey-d;
$nav-top-border-color: $grey-e;
$nav-background-color: $orange-a-dp;
$nav-color: #fff;
$nav-hover-text-color: #fff;
$nav-hover-color: $grey-a-dp;
$nav-hover-border-color: #fff;
$nav-border-bottom-width: 4px;

// ---------------------------------------------------------------------------------------------  footer
$footer-height: 36px;

// ---------------------------------------------------------------------------------------------  panels
$panel-background-color: $grey-k;
$panel-text-color: #fff;
$panel-link-color:  $grey-d;

// ---------------------------------------------------------------------------------------------  Headings module (mostly the top of carousels, but used in other places too)
$heading-title-color: #fff;
$heading-background-color: $grey-b-dp;
$heading-border-color: $grey-c-dp;

// ---------------------------------------------------------------------------------------------  Items
$item-hover-color: $orange-a-dp;
$item-show-link-color:  $grey-d;
$item-show-link-background-color: $grey-w;
$item-title-hover-color:  $grey-h;
$item-background-color: $grey-b-dp; // background color of each item
$item-transition-speed: 0.1s; // speed of hover transitions
$item-spacing: 10%;
$item-padding: 0px;

// ---------------------------------------------------------------------------------------------  Carousels
$carousel-margin-top: 20px;
$carousel-arrow-offset: -7%; //  prev/next

// ---------------------------------------------------------------------------------------------  Pagination
$pagination-background-color: $grey-g;
$pagination-border-color: $grey-d;
$pagination-disabled-background-color: $grey-f;
$pagination-disabled-color:  $grey-c;
$pagination-active-background-color:  $grey-b;
$pagination-active-color:  $grey-a-dp;

// ---------------------------------------------------------------------------------------------  Panel
$panel-nav-background-color: $grey-o;
$panel-nav-background-color-hover: $grey-r;
$panel-nav-background-color-active:  $grey-b;

// ---------------------------------------------------------------------------------------------  Dialog
$dialog-gutter-size: 17px;

// ---------------------------------------------------------------------------------------------  z-indicies
$flip-tile-zindex: 1;
$select-menu-zindex: 10;
$tooltip-zindex: 11;
$select-menu-sticky-zindex: 201;
$select-menu-overlay-zindex: 500;
$tooltip-title-zindex: 501;

$navigation-overlay-zindex: 200;
$navigation-menu-zindex: 201;
$sticky-element-zindex: 200;

$header-zindex: 202;
$dialog-zindex: 400;
$timemachine-tab-zindex: 2;
$timemachine-range-zindex: 1;
$overlay-spinner-zindex: 1000;
