@import "base";
@import "modules/carousel";
@import "modules/carousel-featured";
@import "modules/carousel-large";
@import "modules/heading";
@import "modules/video-metadata";
@import "modules/bigscreen";
@import "modules/item";

#carousel-container {
  background: $grey-l;
  position: relative;

  .underline {
    @include fade-in(0.15s);
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: $orange-a;
    z-index: 1;

	.is-rtl & {
      background:#00317d!important;
    }
  }

  &:hover .underline {
    @include fade-in-run(0.15s);
    @include opacity(1);
  }
}
