@import "base";

body {
  background: #eee;
}

#body {
  background: #fff;
  margin: 20px auto;
  padding: 0 20px;

  h1 {
    font-size: 24px;
  }
}



 .your-channel a {
     background-color: gray;
	 
  }