@import "base";
@import "modules/pagination";
@import "modules/video-metadata";
@import "modules/bigscreen";
@import "modules/timemachine";
@import "modules/item-event";
@import "modules/item-timeline";

html, body, #container, .top, .bottom {
	background: #403e3c;
}

h1 {
	margin: 60px 0 0 0;
	color: #fff;
}

#container {
	background: black;
}

.top {
	background:  $grey-d-dp;
	border-bottom:  1px solid $grey-d;
	color: #fff;

	.h-sticky {
		
	}

	.desc {
		font-size: 18px;
		line-height: 1.3;
		width: 65%; // this should be the same as the first large image in the grid below
		margin-top: 10px;
	}
}

.bottom {
	border-top: 1px solid #5c5956;
}

// scoping .grid to bottom avoids conflicts with the nav,
// since the nav @extends grid.
.bottom .grid {
	$item-margin: 1%;
	$width: 33.3333333333333333%;
	width: 102%;
	margin-left: -$item-margin;

	.is-rtl & {
		margin-left: 0;
		margin-right: -$item-margin;
	}

	li.first-child .item-event {
		height: 100%;

		.details .title {
			margin: 8px 0;
			line-height: normal;
			height: auto;
		}
	}

	img {
		width: 100%;
	}

	li {
		margin: $item-margin;
		width: $width - ($item-margin * 2);

		&.nth-child-4 {
			clear: both;
		}

		&.first-child {
			width: ($width * 2) - ($item-margin * 2);

			.details {
				.title {
					font-size: 18px;
				}
			}
		}
	}

	/* // Large item to the right */
	&.right {
		.first-child {
			float: right;
		}
	}
}

.pagination {
	.pages {
		li {
			border-color: #2e2d2b;
			background-color: #252423;

			a {
				color: $grey-g;
			}

			&.is-active, &:hover {
				background-color: #0b0b0a;

				a {
					color: #fff;
				}
			}

			&.is-disabled {
				background-color: #353432;
				border-color: #353432;
				&:hover { background-color: #353432; }
			}
		}
	}

	p {
		color: #e8e8e8;
	}
}



 .your-channel a {
     background-color: gray;
	 
  }