@import "base";
@import "modules/carousel";
@import "modules/panel";
@import "modules/heading";
@import "modules/video-metadata";
@import "modules/bigscreen";
@import "modules/item";
@import "modules/item-timeline";
@import "modules/episode-preview";

#panel {
  $padding: 40px;

  background: $panel-background-color;
  position: relative;
  color: $panel-text-color;

  > div {
    @include clearfix;
    padding: $padding 0;
    position: static;
  }

  .share-nav {
    top: $padding;
  }

  .panel-item {
    position: absolute;

    &.is-active {
      z-index: 1;
    }
  }

  // details
  .details {
    a {
      text-decoration: underline;
    }

    .desc {
      line-height: 1.3;
    }

    .desc, .related {
      font-size: 14px;
    }

    .show, .date {
      font-size: 11px;
      font-weight: bold;
	  font-family:arial;
    }

    .date {
      color: #fff;
      margin-top: 0;
	  font-family:arial;
    }

    .title {
      font-size: 23px;
      color: #fff;
    }
  }
}

#panel-twitter,
#panel-sharing {
  width: 30%;
  left: 60%;
  display: block; // always force open
  @include opacity(0);
  @include transition(opacity ease-in-out 0.25s);

  .is-rtl & {
    left: auto;
    right: 60%;
  }

  &.is-active {
    @include opacity(1);
  }
}

#panel-twitter {
  .follow {
    @include rtlfloat(right);
    line-height: 2;
  }
}

// player

#player-container {
  @include rtlfloat(left);
  position: relative;
  z-index: 5;
  width: 100%;

  &.is-contracted {
    width: 60%;
  }
}

#player {
  background: $grey-v;
  position: relative;
  width: 100%;
  padding-bottom: 56%;
  border: 2px solid $grey-u;

  .BrightcoveExperience {
    position: absolute;
    z-index: 5;
    height: 100%;
  }
}


#schedule {
  @include transition(
    max-height ease-in-out 0.11s,
    top ease-in-out 0.1s,
    opacity ease-in-out 0.1s
  );
  @include opacity(0);
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 500px;
  max-height: 0;
  margin-top: 15px;

  &.is-visible {
    @include opacity(1);
    position: relative;
    top: 0;
    max-height: 250px;
  }

  ul {
    overflow: hidden;
    width: 101%;
  }

  .h-icon-help-dark {
    float: right;
    margin-left: 10px;

    .is-rtl & {
      float: left;
      margin-left: auto;
      margin-right: 10px;
    }
  }
}

.schedule-full {
  @include rtlfloat(right);
  line-height: 1.8;
}

.schedule-title {
  font-size: 23px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 12px 0;

  span {
    font-weight: normal;
    color: $grey-g;
  }
}

.item-timeline {
  padding: 0 6px 0 0;
  background: transparent;
  float: left;
  width: 33.33333333%;

  .is-rtl & {
    padding-right: 0;
    padding-left: 6px;
    float: right;

    .title {
      height: 5.9em;
    }
  }

  .title {
    font-size: 14px;
    height: 1.3em * 3;
    cursor: pointer;
  }

  .date {
    font-size: 14px;
    padding-bottom: 5px;
	font-family:arial;
  }
}


 .your-channel a {
     background-color: gray;
	 
  }