@import "base";
@import "modules/carousel";
@import "modules/pagination";
@import "modules/video-metadata";
@import "modules/bigscreen";
@import "modules/item";

#container {
	
}

h1 {
	margin: 60px 0 0 0;
	color: $white-a-dp;
}

.top {
	background: none repeat scroll 0% 0% #312f2b;
	border-bottom:  1px solid $grey-d;

	.h-sticky {
		
	}

	.desc {
		font-size: 18px;
		line-height: 1.3;
		width: 65%; // this should be the same as the first large image in the grid below
		margin-top: 10px;
		color: $grey-c;
	}

	select {
		width: 150px;
	}
}

.bottom {
	border-top: 1px solid #fff;
	background: black;
}

// scoping .grid to bottom avoids conflicts with the nav,
// since the nav @extends grid.
.bottom .grid {
	$item-margin: 1%;
	$width: 33.3333333333333333%;
	width: 102%;
	margin-left: -$item-margin;

	.is-rtl & {
		margin-left: 0;
		margin-right: -$item-margin;
	}

	.item {
		.details {
			padding: 5px;
			padding-bottom: 23%;

			.desc {
				font-size: 14px;
				margin: 10px 0;
				line-height: 1.3;
			}
		}
	}

	li.first-child .item {
		height: 100%;

		.details .title {
			margin: 8px 0;
			line-height: normal;
			height: auto;
		}
	}

	img {
		width: 100%;
	}

	li {
		margin: $item-margin;
		width: $width - ($item-margin * 2);
		background: #fff;

		&.nth-child-4 {
			clear: both;
		}

		&.first-child {
			width: ($width * 2) - ($item-margin * 2);

			.details {
				.title {
					font-size: 18px;
				}
			}
		}
	}

  // Large item to the right
	&.right {
		.first-child {
			float: right;
		}
	}
}
