@import "base";
@import "modules/heading";
@import "modules/carousel";
@import "modules/video-metadata";
@import "modules/bigscreen";
@import "modules/item";

#main {
	h1 {
		margin: 0 0 10px 0;
		color: $white-a-dp;
		background-color: $grey-d-dp;
	}

	> header {
		background-color: $grey-d-dp;
		padding: 55px 0 35px 0;
		border-bottom: 1px solid $grey-d;

		p {
			width: 80%;
			font-size: 18px;
			line-height: 1.3;
			color: $white-a-dp;
			margin: 0;
		}
	}

	 .your-channel a {
     background-color: gray;
	 
  }
}

.topic {
	.body {
		border-top: 1px solid $grey-c-dp;
		background-color: $grey-d-dp;
	}

	ul {
		@include clearfix;
		margin: 20px 0;
	}

	li {
		width: 23.5%;
		margin: 0 2% 0 0;
		float: left;

		&.is-last-child {
			margin-right: 0;
		}

		.is-rtl & {
			float: right;
			margin: 0 0 0 2%;

			&.is-last-child {
				margin: 0;
			}
		}
	}
}

// TODO: find a better way to do this. This style is
// necessary on headings that don't have sort.
.heading .links nav {
	top: 0;
}



