/**
 * Create playlist form.
 * This form exists inside the add / create dialogs
 */
.playlist-create-form {
  padding: 0 7px 7px 7px;
  overflow: hidden;

  input {
    border: 2px solid #9f9f9f;
    padding: 7px;
    width: 68%;
    float: left;
  }

  .submit {
    @include transition(background-color 0.1s linear, color 0.1s linear);
    display: inline-block;
    background-color: #9f9f9f;
    padding: 9px 18px 8px 18px;
    text-align: center;
    font-weight: bold;
    float: right;
    width: 30%;

    &.is-disabled, &.is-disabled:hover {
      background-color: #9f9f9f;
      color: #fff !important;
      cursor: default;
    }

    &:hover {
      background-color: #9f9f9f;
    }
  }
}
