/**
 * Edit playlists dialog
 */

#edit-playlists-dialog {
  overflow: auto; // ALJ-522 on FF 24

  form {
    @include position(absolute, 0px 0 0 0px);
    width: 100%;
    z-index: -1;
  }

  input {
    border: 2px solid #9f9f9f;
    outline-color: #9f9f9f;
    padding: 8px;
    width: 100%;
  }

  .h-fade-in-run {
    z-index: 1;
  }

  li {
    padding: 0;
  }

  .name {
    display: inline-block;
    padding: 12px;
  }

  .remove {
    @include position(absolute, 12px 12px 0 0);
    float: none;
  }

  .empty {
    padding: 8px;
    color: #b3b3b3;
    font-weight: bold;
    cursor: default;
  }
}
