/*
 * Add playlist dialog
 */

#playlists-add-dialog {
  font-size: 14px;

  .submit {
    color: $grey-g;

    &:hover {
      color: #fff;
    }
  }

  ul {
    margin: 12px 7px; // $dialog-gutter-size;
    padding: 0;
    background: #1e1d1c;
  }

  li {
    padding: 6px 10px;
  }

  .max {
    line-height: 1.4;
    padding: 0 17px 17px 17px;
    color: #eee;
  }
}
