/*
 * Large carousel
 *  - full width
 *  - first item has 1 large sub-item with more metadata than the rest, OR
 *    two rows of small items
 *  - other items have 4 sub-items
 */
.carousel-large {
  @include carousel;
  /* @include carousel-hover; */

  .desc {
    display: none;
  }

  // All sub-items
  .item {
    width: 50% - ($item-spacing / 2);
    margin: 0;

    // first and third
    .is-ltr &.is-nth-child-1 { margin-right: $item-spacing / 2; }
    .is-ltr &:nth-child(1) { margin-right: $item-spacing / 2; }
    .is-ltr &.is-nth-child-3 { margin-right: $item-spacing / 2; }
    .is-ltr &:nth-child(3) { margin-right: $item-spacing / 2; }
    .is-rtl &.is-nth-child-1 { margin-left: $item-spacing / 2; }
    .is-rtl &:nth-child(1) { margin-left: $item-spacing / 2; }
    .is-rtl &.is-nth-child-3 { margin-left: $item-spacing / 2; }
    .is-rtl &:nth-child(3) { margin-left: $item-spacing / 2; }

    // First and second items
    &.is-nth-child-1 { margin-bottom: $item-spacing / 2; }
    &:nth-child(1) { margin-bottom: $item-spacing / 2; }
    &.is-nth-child-2 { margin-bottom: $item-spacing / 2; }
    &:nth-child(2) { margin-bottom: $item-spacing / 2; }

    // Third item
    &.is-nth-child-3 { clear: both; }
    &:nth-child(3) { clear: both; }
  }

  // Any item that has one column (large, last row)
  .one-col .item {
    width: 100% - ($item-spacing / 2);
  }

  // The first large, promo item
  .is-promo .item {
    margin-bottom: 0;
    width: 95%;

    .desc {
      display: block;
      margin: 8px 0;
      font-size: 14px;
      line-height: 1.3;
      max-height: 1.3em * 4;
      overflow: hidden;
	  color:  $grey-c;

      // This only works in webkit, but better than nothing.
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      white-space: normal;
    }
    .title {
      font-size: 18px;
      margin: 8px 0;
      height: auto;
      line-height: normal;
	  font-family: AlJazeeraArabicBold, "Helvetica Neue", sans-serif;
    }
  }

  .carousel-hook {
    li {
      @mixin last-child-item-styles {
        width: 50% - ($item-spacing / 2) + 2.5%;
        &.is-nth-child-1 { margin-bottom: $item-spacing / 2 + 0.25%; }
        &:nth-child(1) { margin-bottom: $item-spacing / 2 + 0.25%; }
        &.is-nth-child-2 { margin-bottom: $item-spacing / 2 + 0.25%; }
        &:nth-child(2) { margin-bottom: $item-spacing / 2 + 0.25%; }
      }

      @mixin last-child-one-col-styles {
        width: 100%;
        margin-bottom: $item-spacing;

        &.is-last-child { margin-bottom: 0; }
        &:last-child { margin-bottom: 0; }
        .is-ltr & { margin-right: 0; }
        .is-rtl & { margin-left: 0; }
      }

      // apply those styles
      &.is-last-child .item { @include last-child-item-styles; }
      &:last-child .item { @include last-child-item-styles; }

      // Last item in carousel that has only one column
      &.is-last-child.one-col .item { @include last-child-one-col-styles; }
      &:last-child.one-col .item { @include last-child-one-col-styles; }
    }
  }
}
