/*
 * Featured carousel
 *
 * A featured carousel displays one large slide at a time, as seen on the
 * channel page.
 */
.carousel-featured {
  @include content-container;
  $height: 412px;
  @include carousel;
  @include dark-pagination-circles;

  width: auto;
  max-width: $page-total-width;
  overflow: hidden;
  background: $grey-l;

  // Gradients that are over the image at all times
  &:before {
    background: url(../images/gradient-overlay-ltr.png) left repeat-y;
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .is-rtl &:before {
    background-image: url(../images/gradient-overlay-rtl.png);
    background-position: right;
    left: auto;
    right: 0;
  }

  .lt-ie9 &:before {
    background: none !important;
  }

  // Alter/add above gradients after the max-width breakpoint
  @media all and (min-width: $page-total-width) {
    &:after, &:before {
      content: " ";
      width: 400px !important;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }

    &:before {
      background-image: url(../images/gradient-overlay-left.png) !important;
      left: 0 !important;
      right: auto !important;
    }
    &:after {
      background-image: url(../images/gradient-overlay-right.png) !important;
      right: 0 !important;
      left: auto !important;
    }
  }

  .details {
    @include transform(translateY(-20px));
    @include opacity(0);

    // having these exist twice is deliberate for cross-browser
    // compatibility with both prefixed and non-prefixed transforms
    @include transition(
      -webkit-transform 0.3s ease-in-out 0.2s,
      opacity 0.3s ease-in-out 0.2s
    );
    @include transition(
      transform 0.3s ease-in-out 0.2s,
      opacity 0.3s ease-in-out 0.2s
    );

    width: 404px;
    height: auto;
    padding: 0;
    float: none;
    position: absolute;
    top: 25%;
    left: 9.75%;
    z-index: 2;
    background: none;

    .is-rtl & {
      left: auto;
      right: 9.75%;
      top: 10%;
    }

    @media all and (min-width: $page-total-width) {
      .is-ltr & { left: 8.5%; }
      .is-rtl & { right: 8.5%; }
    }

    .title, .desc, .date, .show {
      color: #fff;
	  font-family:arial;
      &:hover {
        color: #fff;
      }
	  .is-rtl & {
		font-family: AlJazeeraArabicBold, "Helvetica Neue", sans-serif;
		}
    }

    .title {
      @include heading-font;
      font-size: 36px;
      font-weight: bold;
      display: block;
      line-height: 1.2;

      .is-rtl & {
        line-height: 2.2em;
        font-size: 2.2em;
        margin-bottom: 0;
		font-family: AlJazeeraArabicBold, "Helvetica Neue", sans-serif;
      }
    }
    .desc {
      font-size: 18px;
      margin: 0;
    }
    .show {
      margin: 10px 0 3px 0;
    }
    .date {
      margin: 3px 0 10px 0;
	  font-family:arial;
    }
  }

  .thumb {
    img {
      min-width: $page-width-min;
      max-width: $page-width-max;
    }
  }

  // next/prev buttons
  .next-prev {
    margin: 0;
    max-width: 100%;
    top: 0;
    height: 100%;

    .next, .prev {
      width: 45px;
      height: 66px;
      top: 50%;
      margin-top: -33px;
      z-index: 3;
    }
    .next {
      @include sprite(-433px -255px, -435px -366px);
      right: 2.5%;
    }
    .prev {
      @include sprite(-305px -255px, -307px -366px);
      left: 2.5%;
    }
  }

  // play overlay
  .h-icon {
    @include position(absolute, 0 9% 7% 0);
    z-index: 10;

    .is-rtl & {
      right: auto;
      left: 9%;
    }

    @media all and (min-width: $page-total-width) {
      .is-ltr & { right: 8%; }
      .is-rtl & { left: 8%; }
    }
  }

  // Hover states
  .next, .prev, .h-icon {
    @include fade-in(0.15s);
  }

  &:hover {
    .next, .prev, .h-icon {
      @include fade-in-run(0.15s);
    }
  }

  .carousel-hook {
    min-height: auto;
    height: $height;

    li {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      height: $height;

      // run the animation on .details
      &.run-animation .details {
        @include transform(translateY(0));
        @include opacity(1);
      }
    }
  }

  footer {
    height: 39px;
    margin-top: -39px;
    position: relative;
    z-index: 2;

    ul {
      margin: 0;
      padding: 0;
	  background-color:$transparent-dp
    }
  }
}

