#data-bar {
  padding: 10px 0;
  background: $grey-m;
  color: #fff;

  .title {
    margin-top: 0;
    font-weight: bold;
  }

  a {
    text-transform: uppercase;
    color: #fff;
  }

  li {
    margin-right: 4%;
    padding-right: 4%;
    float: left;
    font-size: 11px;
    border-right: 1px solid $grey-n;

    &:last-child {
      margin-right: 0;
      padding-right: 0;
      border-right: 0;
    }
  }
}
