#episode-preview-dialog {
  padding: 15px 25px;
  color: #eee;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 23px;
  }

  p {
    margin: 15px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .cols {
    overflow: hidden;
  }

  .col-left {
    width: 65%;
    float: left;
    .is-rtl & { float: right; }
  }

  .col-right {
    float: right;
    .is-rtl & { float: left; }
  }

  .thumbnail-loader {
    width: 160px;
    height: 90px;
  }

  .show {
    @include transition(all 0.1s linear);
    @include position(relative, 0 0 0 -4px);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
    margin: 10px 0;

    a {
      display: inline-block;
      color: #94869a;
      padding: 2px 4px;

      &:hover {
        background-color: $item-show-link-background-color;
      }
    }

    .is-rtl &{
      left: auto;
      right: -4px;
    }
  }

  .desc {
    font-size: 14px;
    line-height: 1.4;
  }

  .slot {
    color: $orange-a;
    margin-right: 5px;
    font-size: 14px;

    .is-rtl & {
      margin: 0 0 0 5px;
    }
  }

  .duration, .date {
    font-size: 11px;
    color: grey;
    margin: 0 3px;
	font-family:arial;
  }
}
