// Grid items that reveal an image on hover. Used on the home page.

.grid-fade-reveal {
  $fade-reveal-item-spacing: 8%;
  $fade-reveal-width: 13%;
  width: 100%;

  li {
    /* padding: 2% 2% 14% 2%; */
    height: 0;
    margin: 0;
    width: $fade-reveal-width;
    padding-bottom: $fade-reveal-width;
    overflow: hidden;
    -webkit-transform: translate3d(0,0,0);

    @include transition(opacity 0.1s linear);
    @include opacity(0.5);

    &:hover {
      @include opacity(1);
    }

    &.theme-orange a {
      background-color: #0c3a62;
    }
    &.theme-dark-blue a {
      background-color:$orange-a-dp;
    }
    &.theme-light-blue a {
      background-color: #3481c6;
    }
  }

  img {
    @include transition(opacity 0.1s linear);
    
    position: relative;
    left: -($fade-reveal-item-spacing / 2);
    width: 55%;
    margin: 10% auto;
  }

  a {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 $fade-reveal-item-spacing;

    div {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &:hover {
      img {
        @include opacity(1);
      }
    }
  }

  .is-selected {
    .hover {
      @include opacity(1);
    }
  }

  .title {
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100% - $fade-reveal-item-spacing;
    z-index: 1;
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    text-align: center;
    color: #fff;
    overflow: hidden;
    line-height: 1.2em;
    max-height: 1.2em * 2;
    padding: 0 10px;
    font-family: AlJazeeraArabicBold, "Helvetica Neue", sans-serif;

	.is-rtl & {
		font-family: AlJazeeraArabicBold, "Helvetica Neue", sans-serif;
	}

  }

   

  @media all and(min-width: $page-width-max) {
    & {
      img {
        width: 60%;
      }
    }
  }
}
