// Grid items that change opacity to brighten up on hover. Used
// on all navigation menus except for channel.

.grid-highlight {
  li {
    position: relative;
  }

  a {
    @include transition(background 0.2s ease-in-out);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background: $orange-a-dp;
	opacity:0.5;

	.is-rtl & {
		 background: #00317d!important;

		  &:hover {
		  background: #00317d!important;
		  color:$white-a-dp;
		  opacity:1;

		  img {
			@include opacity(1);
		  }
		}
	}

    img {
      @include transition(opacity 0.2s ease-in-out);
      @include opacity(0.6);
      -webkit-transform: translate3d(0,0,0); // prevents shifting
    }

    &:hover {
      background: $orange-e;
	  color:$white-a-dp;
	  opacity:1;

      img {
        @include opacity(1);
      }
    }
  }

  &.region a {
    background: $menu-region-background-color;
	opacity:0.5;

	.is-rtl & {
		 background:  $menu-region-background-color!important;

		  &:hover {
		  background: $menu-region-background-color!important;
		  color:$white-a-dp;
		  opacity:1;

		  img {
			@include opacity(1);
		  }
		}
	}

    &:hover {
	  color:$white-a-dp;
      background: $menu-region-background-color-hover;
	  opacity:1;
    }
  }

  img {
    @include position(absolute, 7% 0 0 15%);
    width: 70%;
  }

  .title {
    position: absolute;
    bottom: 0;
    z-index: 1;
    font-size: 14px;
    padding: 0 8px 12% 8px;
    width: 100%;
    text-align: center;
    color: #fff;
    word-wrap: break-word;
  }
}
