.heading {
  background-color: $heading-background-color;
  position: relative;

  @mixin heading-rtl {
    html.is-rtl &, .carousel.is-rtl & { @content; }
  }
  @mixin heading-ltr {
    html.is-ltr &, .carousel.is-ltr & { @content; }
  }

  // Links container
  .links {
    position: absolute;
    bottom: 9px;

    @include heading-ltr {
      left: auto;
      right: 0;
    }
    @include heading-rtl {
      right: auto;
      left: 0;
    }

    a {
      @include heading-ltr { margin: 0 0 0 15px; }
      @include heading-rtl { margin: 0 15px 0 0; }
    }
  }

  // Links nav element; sort form
  // These are nested in the HTML under .links but I'm not nesting
  // in sass for performance.
  nav, form {
    margin-bottom: 0;

    @include heading-rtl {
      float: left;
      margin: 0 15px 0 0;
    }
    @include heading-ltr {
      float: right;
      margin: 0 0 0 15px;
    }
  }

  nav {
    position: relative;
    top: 8px;
  }

  select {
    width: 135px;
  }

  .title {
    @include inline-block;
    @include heading-font;
    border-bottom: 3px solid $heading-border-color;
    margin: 0;
    padding: 35px 0 10px 0;
    font-size: 23px;
    font-weight: bold;
    color: $heading-title-color;
  }

  // Your Channel page
  .channel {
    padding-top: 15px;
    margin: 10px 0;

    a {
      color:  $grey-c;
    }
  }
}
