/**
 * Items that look like a timeline.
 * Used on the live page and in time machine mode.
 */
.item-timeline {
  @include item;

  float: left;
  position: relative;
  padding: 3px;
  background: none;
  -webkit-transform: translate3d(0, 0, 0);

  .title, .footer {
    @include transition(all 0.1s linear);
    background: #2b292a;
  }

  .date {
    border-bottom: 3px solid #c5c1be;
    color: #f6871c;
    margin: 5px 0;
    padding: 0 6px 2px 6px;
	font-family:arial;
  }

  .title {
    display: block;
    padding: 5px;
    margin: 5px 0 0 0;
    padding-bottom: 23%;
    line-height: 1.2em;
    overflow: hidden;
    height: 1.3em * 3;
    color: $grey-g;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .footer {
    margin: 0;
    padding: 0 5px 5px 5px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 1.8;
    overflow: hidden;

    a {
      color: #94869a;
      float: left;

      &:last-child {
        @include ellipsis;
        width: 80%;
      }
    }

    .h-icon {
      @include transition(opacity 0.2s linear);
      @include opacity(0);
      float: right;
    }

    .h-icon-play-orange {
      display: none;
    }
  }

  // hover / active states
  &.is-active, &:hover {
    .h-icon {
      @include opacity(1);
    }

    .title {
      @include transform(translateY(-5px));
    }

    .footer {
      padding-top: 20px;
      margin-top: -20px;
    }
  }
  &:hover {
    .h-icon-play-orange {
      display: none;
    }
    .h-icon-play {
      display: block;
    }
    .title {
      background: #171616;
      color: $grey-g;
    }
    .footer {
      background: #171616;
      color: #94869a;
    }
  }
  &.is-active {
    .h-icon-play-orange {
      display: block;
    }
    .h-icon-play {
      display: none;
    }
    .title {
      background: #fff;
      color: #9f9f9f;
    }
    .footer {
      background: #fff;
      color: #94869a;
    }
  }

  // RTL styles
  &.is-rtl & {
    float: right;

    p {
      text-align: right;
    }

    .footer a {
      float: right;

      &.h-icon {
        float: left;
      }
    }
  } // end rtl styles
}
