// panel nav is used on the detail/show page

.panel {
  a {
    color: $panel-link-color;

    &:hover {
      color: #fff;
    }
  }

  .panel-item {
    display: none;

    &.is-active {
      display: block;
    }

    > .title {
      margin: 0 0 10px 0;
      font-size: 22px;
      font-weight: bold;
    }
  }

  .panel-nav {
    position: absolute;
    right: 0;
    margin: 0;
    padding: 0;
    width: 63px;

    .is-rtl & {
      right: auto;
      left: 0;
    }

    li {
      margin-bottom: 2px;
    }

    a {
      background-color: $panel-nav-background-color;
      display: block;
      width: 63px;
      height: 63px;

      &:hover {
        background-color: $panel-nav-background-color-hover;
      }

      &.is-active {
        background-color: $panel-nav-background-color-active;
      }

      &.h-icon-panel-comments {
        text-align: center;
        line-height: 7.5;
      }
    }
  }
}

// share panel

#panel-sharing {
  p {
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    margin: 0;
  }

  li {
    margin: 25px 0;
    font-size: 14px;
  }
}
