// Promo area
// Episode detail page, show detail page

.promo {
  background: #efefef;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0;
  text-align: center;

  > div {
    @include layout-container;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
