.spinner {
  $size: 20px;
  @include position(absolute, 50% 0 0 50%);
  width: $size;
  height: $size;
  margin: -($size/2) 0 0 -($size/2);
  background: url(../images/spinner.gif) center no-repeat;

  &.style-dark {
    background-image: url(../images/spinner-dark.gif);
  }

  &.style-overlay {
    @extend .style-dark;
    position: fixed;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    z-index: $overlay-spinner-zindex;
  }
}
