/**
 * Displays a spinner in place of the image
 * until the image has loaded. Javascript is necessary
 * to set the src of the image.
 TODO: more documentation
 */
.thumbnail-loader {
  display: block;
  position: relative;

  &:before {
    background: #dadae3 url(../images/spinner-items.gif) center center no-repeat;
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
}
