// Most styles are shared with big screen. This file contains timemachine
// specific styles.

.timemachine {
  .bs-carousel {
    min-width: 825px;
  }

  .item-timeline {
    padding-bottom: 10px; // don't make timeline items scale

    .title {
      padding-bottom: 0;
    }
  }
}

.timemachine-container {
  position: relative;

  .year {
    color: #fff; //  #6f6a6a;
    font-size: 23px;
    font-weight: bold;
    margin: 5px 0 5px 5px;
    position: absolute;
    top: -32px;
  }
}

.timemachine-timeline {
  padding-top: 40px;

  .no-csstransforms & {
    overflow-x: scroll;
  }
}

.timemachine-ticker {
  @include position(relative, 12px 0 0 0);
  height: 5px;
  width: 100%;
  background: url(../images/timeline-ticker.png) repeat-x;
}

.timemachine-range {
  position: absolute;
  z-index: $timemachine-range-zindex;
  top: 20px;
  text-align: center;
  width: 100%;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: bold;
}

.timemachine-year-prev {
  left: 10px;
}

.timemachine-year-next {
  right: 10px;
}

.timemachine-center {
  @include position(absolute, 6px 0 0 50%);
  margin-left: -4px;
  background: url(../images/timeline-center.png) center no-repeat;
  width: 8px;
  height: 64px;
}
