@font-face {
  /* font-family: 'HelveticaNeueArabicBold'; */
  font-family: 'AlJazeeraArabicBold';
  src: url('../fonts/Al-Jazeera-Arabic-Bold.eot');
  src: url('../fonts/Al-Jazeera-Arabic-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Al-Jazeera-Arabic-Bold.woff') format('woff'),
      url('../fonts/Al-Jazeera-Arabic-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* font-family: 'HelveticaNeueArabicRoman'; */
  font-family: 'AlJazeeraArabicRegular';
  src: url('../fonts/Al-Jazeera-Arabic-Regular.eot');
  src: url('../fonts/Al-Jazeera-Arabic-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Al-Jazeera-Arabic-Regular.woff') format('woff'),
      url('../fonts/Al-Jazeera-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gretta';
  src: url('../fonts/gretta-regular.eot');
  src: url('../fonts/gretta-regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/gretta-regular.woff') format('woff'),
      url('../fonts/gretta-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* apply a natural box layout model to all elements */
* {
  @include box-sizing(border-box);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
  overflow-y: scroll;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $body-font-family;
  font-size: 13px;
  color: $text-color;
  background: $grey-c-dp;

  .is-rtl & {
    font-family: $body-font-family-arabic;
  }
}

iframe, object {
  width: 100%;
}

h1 {
  @include heading-font;
  color:  $grey-a;
  font-size: 36px;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  &::-ms-clear {
    display: none;
  }

  &.is-error {
    @include transition(all 0.1s ease-in-out);
    border-color: #DA8E84 !important;
    background-color: #FFEFF0;
    outline: none;
  }

  &.has-spinner {
    background-image: url(../images/spinner.gif);
    background-position: 99% center;
    background-repeat: no-repeat;
  }
}
