/*
 * Base layout styles
 */

// Main container
#container {
  @include layout-container;
  background: black;
  min-height: 100%;
  position: relative;
  /* height: auto !important; */
  /* height: 100%; */
  /* margin: 0 auto ($footer-height * -1); */
  /* padding-bottom: 25px; */
}

// Main content container
#main {
  padding: 0 0 $footer-height 0;
}

.no-display {
  display: none;
}

.h-icon-help {
  cursor: pointer;
  width: 21px;
  height: 21px;
  position: relative;
  bottom: -2px;
}
